---
title: Rae
---

<div class='header-container'>
  <div class='header'>
    <h1>Rae</h1>
  </div>
</div>

<div class='content-container'>
  <div class='intro-container'>
    <div class='image-container intro-image-container'>
      <img
        src='/images/rae-intro.jpg'
        alt='Cockatiel amiguruimi'
        class='intro-image'
      />
    </div>

    <p>
      Make you an amigurumi cockatiel friend.
    </p>
  </div>

  <div class='subheading-container'>
    <h3 class='subheading'>
      Materials
    </h3>
  </div>

  <section>
    <p>
      This pattern is designed for <strong>Medium</strong> weight yarn.
      You'll need:
    </p>
    <ul>
      <li>Yellow</li>
      <li>Gray</li>
      <li>White</li>
      <li>Orange</li>
      <li>Cream (skin tone)</li>
    </ul>

    <p>You'll also need:</p>
    <ul>
      <li>Black 5mm safety eye x 2</li>
      <li>Batting to stuff the body</li>
    <ul>
  </section>

  <div class='subheading-container'>
    <h3 class='subheading'>
      Parts
    </h3>
  </div>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Head & Body
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Start in <strong>Yellow</strong>.</p>
    </div>

    <div class='pattern-row'>
      <div class='pattern-round'>
        1
      </div>
      <div class='pattern-instructions'>
        6 sc in a magic ring
      </div>
      <div class='pattern-count'>
        (6)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        2
      </div>
      <div class='pattern-instructions'>
        [2 sc in each st] x 6
      </div>
      <div class='pattern-count'>
        (12)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        3
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 3 sc] x 3
      </div>
      <div class='pattern-count'>
        (15)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        4
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 4 sc] x 3
      </div>
      <div class='pattern-count'>
        (18)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        5
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 5 sc] x 3
      </div>
      <div class='pattern-count'>
        (21)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        6-7
      </div>
      <div class='pattern-instructions'>
        21 sc
      </div>
      <div class='pattern-count'>
        (21)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        8
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 6 sc] x 3
      </div>
      <div class='pattern-count'>
        (24)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        9-10
      </div>
      <div class='pattern-instructions'>
        24 sc
      </div>
      <div class='pattern-count'>
        (24)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        11
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 5 sc] x 4
      </div>
      <div class='pattern-count'>
        (28)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        12
      </div>
      <div class='pattern-instructions'>
        28 sc
      </div>
      <div class='pattern-count'>
        (28)
      </div>
    </div>

    <div class='parts-instruction'>
      <p>Switch to <strong>Gray</strong>.</p>
    </div>

    <div class='pattern-row'>
      <div class='pattern-round'>
        13
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 13 sc] x 2
      </div>
      <div class='pattern-count'>
        (30)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        14-15
      </div>
      <div class='pattern-instructions'>
        30 sc
      </div>
      <div class='pattern-count'>
        (30)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        16
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 9 sc] x 3
      </div>
      <div class='pattern-count'>
        (33)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        17
      </div>
      <div class='pattern-instructions'>
        33 sc
      </div>
      <div class='pattern-count'>
        (33)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        18
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 10 sc] x 3
      </div>
      <div class='pattern-count'>
        (36)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        19
      </div>
      <div class='pattern-instructions'>
        [2 sc in next st, 11 sc] x 3
      </div>
      <div class='pattern-count'>
        (39)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        20-23
      </div>
      <div class='pattern-instructions'>
        39 sc
      </div>
      <div class='pattern-count'>
        (39)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        24
      </div>
      <div class='pattern-instructions'>
        [sc2tog, 11 sc] x 3
      </div>
      <div class='pattern-count'>
        (36)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        25
      </div>
      <div class='pattern-instructions'>
        36 sc
      </div>
      <div class='pattern-count'>
        (36)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        26
      </div>
      <div class='pattern-instructions'>
        [sc2tog, 4 sc] x 6
      </div>
      <div class='pattern-count'>
        (30)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        27
      </div>
      <div class='pattern-instructions'>
        [sc2tog, 3 sc] x 6
      </div>
      <div class='pattern-count'>
        (24)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        28
      </div>
      <div class='pattern-instructions'>
        [sc2tog, 2 sc] x 6
      </div>
      <div class='pattern-count'>
        (18)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        29
      </div>
      <div class='pattern-instructions'>
        [sc2tog, sc] x 6
      </div>
      <div class='pattern-count'>
        (12)
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        30
      </div>
      <div class='pattern-instructions'>
        [sc2tog] x 6
      </div>
      <div class='pattern-count'>
        (6)
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        31
      </div>
      <div class='pattern-instructions'>
        6 sl, tie off
      </div>
      <div class='pattern-count'>
        (x)
      </div>
    </div>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Cheeks
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Orange</strong>.</p>
    </div>

    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>1</th>
      </div>
      <div class='pattern-instructions'>
        <td>5 sc in a magic ring</td>
      </div>
      <div class='pattern-count'>
        <td>(5)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>2</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in each st] x 5, tie off</td>
      </div>
      <div class='pattern-count'>
        <td>(10)</td>
      </div>
    </div>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Over-wing
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray</strong>.</p>
    </div>

    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>1</th>
      </div>
      <div class='pattern-instructions'>
        <td>6 sc in a magic ring</td>
      </div>
      <div class='pattern-count'>
        <td>(6)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>2</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in each st] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(12)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>3</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 1 sc] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(18)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>4</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 2 sc] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(24)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>5</th>
      </div>
      <div class='pattern-instructions'>
          [2 sc in next st, 3 sc] x 3,
          switch to <strong>White</strong>,
          [2sc in next st, 3 sc] x 3,
          tie off
      </div>
      <div class='pattern-count'>
        <td>(30)</td>
      </div>
    </div>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Under-wing
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray</strong>.</p>
    </div>

    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>1</th>
      </div>
      <div class='pattern-instructions'>
        <td>6 sc in a magic ring</td>
      </div>
      <div class='pattern-count'>
        <td>(6)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>2</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in each st] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(12)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>3</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 1 sc] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(18)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>4</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 2 sc] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(24)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>5</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 3 sc] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(30)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>6</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 4 sc] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(36)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>7</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 5 sc] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(42)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>8</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 6 sc] x 6</td>
      </div>
      <div class='pattern-count'>
        <td>(48)</td>
      </div>
    </div>

    <div class='parts-instruction'>
      <p>Switch to <strong>White</strong>.</p>
    </div>

    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>9</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 7 sc] x 6, tie off</td>
      </div>
      <div class='pattern-count'>
        <td>(54)</td>
      </div>
    </div>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Large feather
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Start in <strong>Gray, White, or Yellow</strong>.</p>
    </div>

    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>1</th>
      </div>
      <div class='pattern-instructions'>
        <td>3 sc in a magic ring</td>
      </div>
      <div class='pattern-count'>
        <td>(3)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>2</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in each st] x 3</td>
      </div>
      <div class='pattern-count'>
        <td>(6)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>3</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 2 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(8)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>4</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 3 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(10)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>5</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 4 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(12)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>6</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 5 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(14)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>7</th>
      </div>
      <div class='pattern-instructions'>
        <td>14 sc</td>
      </div>
      <div class='pattern-count'>
        <td>(14)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>8</th>
      </div>
      <div class='pattern-instructions'>
        <td>[sc2tog, 4 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(12)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>9-24</th>
      </div>
      <div class='pattern-instructions'>
        <td>12 sc</td>
      </div>
      <div class='pattern-count'>
        <td>(12)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>25</th>
      </div>
      <div class='pattern-instructions'>
        <td>12 sc, tie off with length of yarn</td>
      </div>
      <div class='pattern-count'>
        <td>(12)</td>
      </div>
    </div>
  </section>

  <section class='parts-section'>
    <div class='parts-header-container'>
      <h4 class='parts-header'>
        Small feather
      </h4>
    </div>

    <div class='parts-instruction'>
      <p>Make two. Start in <strong>Gray, White, or Yellow</strong>.</p>
    </div>

    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>1</th>
      </div>
      <div class='pattern-instructions'>
        <td>3 sc in a magic ring</td>
      </div>
      <div class='pattern-count'>
        <td>(3)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>2</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in each st] x 3</td>
      </div>
      <div class='pattern-count'>
        <td>(6)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>3</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 2 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(8)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>4</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 3 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(10)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>5</th>
      </div>
      <div class='pattern-instructions'>
        <td>[2 sc in next st, 4 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(12)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>6</th>
      </div>
      <div class='pattern-instructions'>
        <td>12 sc</td>
      </div>
      <div class='pattern-count'>
        <td>(12)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>7</th>
      </div>
      <div class='pattern-instructions'>
        <td>[sc2tog, 3 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(10)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>8-14</th>
      </div>
      <div class='pattern-instructions'>
        <td>10 sc</td>
      </div>
      <div class='pattern-count'>
        <td>(10)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>15</th>
      </div>
      <div class='pattern-instructions'>
        <td>[sc2tog, 2 sc] x 2</td>
      </div>
      <div class='pattern-count'>
        <td>(8)</td>
      </div>
    </div>
    <div class='pattern-row even'>
      <div class='pattern-round'>
        <th>16-19</th>
      </div>
      <div class='pattern-instructions'>
        <td>8 sc</td>
      </div>
      <div class='pattern-count'>
        <td>(8)</td>
      </div>
    </div>
    <div class='pattern-row'>
      <div class='pattern-round'>
        <th>20</th>
      </div>
      <div class='pattern-instructions'>
        <td>8 sc, tie off with length of yarn</td>
      </div>
      <div class='pattern-count'>
        <td>(8)</td>
      </div>
    </div>
  </section>

  <div class='subheading-container'>
    <h3 class='subheading'>Finishing</h3>
  </div>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Wings
      </h4>
    </div>

    <p>
      Fold under-wing in half. Sew together flat along the edge.
    </p>

    <p>
      Sew over-wing onto one side of under-wing, leaving a little overlap.
    </p>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-wing-1.jpg'
          alt='Outside wing view'
          height=160px
        />
      </div>
    </div>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-wing-2.jpg'
          alt='Inside wing view'
          height=160px
        />
      </div>
    </div>

    <p>
      Make a pair with opposing layouts for left and right wing.
    </p>


    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-wing-3.jpg'
          alt='Opposing wings view'
          height=160px
        />
      </div>
    </div>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Tail
      </h4>
    </div>

    <p>
      Sew small feather to body side by side.
    </p>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-tail-1.jpg'
          alt='Small feather placement'
          height=160px
        />
      </div>
    </div>

    <p>
      Sew large feather one or two rows above small feathers, centered.
    </p>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-tail-2.jpg'
          alt='Large feather placement'
          height=160px
        />
      </div>
    </div>

    <div class='image-container'>
      <div class='image-wrapper'>
        <img
          src='/images/rae-tail-3.jpg'
          alt='Tail feather finished'
          height=160px
        />
      </div>
    </div>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Eyes
      </h4>
    </div>

    <div>
      <strong>Note:</strong> Finish eyes while crocheting the head and body.
    </div>

    <p>
      Between 8th and 9th rows. 8 st between. The center 4 st will be the beak.
      See figure.
    </p>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Beak
      </h4>
    </div>

    <p>
      TBD
    </p>
  </section>

  <section>
    <div class='finishing-header-container'>
      <h4 class='finishing-header'>
        Cheeks
      </h4>
    </div>

    <p>
      Sew on behind and lower than both eyes.
    </p>
  </section>

  <div class='subheading-container'>
    <h3 class='subheading'>Abbreviations</h3>
  </div>

  <section>
    <div class='abbreviation-row'>
      <div class='abbreviation'>st</div>
      <div class='abbreviation-definition'>stitch</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sl</div>
      <div class='abbreviation-definition'>slip stitch</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sc</div>
      <div class='abbreviation-definition'>single crochet</div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>sc2tog</div>
      <div class='abbreviation-definition'>
        single crochet 2 together, decrease
      </div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>magic ring</div>
      <div class='abbreviation-definition'>
        <a
          href="https://www.youtube.com/watch?v=sLUaywX0-WE"
          target="_blank"
        >
          tutorial here
        </a>
      </div>
    </div>
    <div class='abbreviation-row'>
      <div class='abbreviation'>tie off</div>
      <div class='abbreviation-definition'>fasten or finish off</div>
    </div>
  </section>
</div>

<div class='footer-container'>
  <div class='footer'>
    <h1>Rae</h1>

    <p class='footer-disclosure'>
      Remember! Always hold birb gentle like hamburger.
    </p>
  </div>
</div>
